header {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 48px;
  background-color: #009688;
  color: #eee;
  padding: 0 16px;
  margin-bottom: 50px;
}

header > h1 {
  font-size: 16px;
  cursor: default;
}
header > nav {
}

nav > ul > li {
  list-style: none;
}

.ico-list {
  width: 960px;
  margin: 96px auto;
}

.ico-list > div {
  height: 140px;
  background-color: #ddd;
  margin-bottom: 16px;
}
